@import url('https://fonts.googleapis.com/css?family=Bangers|Barriecito|Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Caveat|Indie+Flower|Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');
{
  margin:0px;
  padding:0px;
}
h3{
  font-family: 'Caveat', cursive;
  color:white;
  font-size:1.6em;
}
body{
  background:#aaa;
}
ul{
  list-style:none;
  display:flex;
}
#navbar{
  background:#FF3D44;
  display:flex;
  justify-content:flex-end;
  position:fixed;
  top:0;
  right:0;
  width:100%;
  z-index:5;
}
ul li{
  font-size:2em;
  padding:10px;
  font-family: 'Bangers', cursive;
  line-height:100%;
}
ul li:hover{
  background:blue;
  border-radius:10px;
}
a{
  text-decoration:none;
  color:white;
}
#welcome-section{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  height:100vh;
  margin-top:150px
  
}
#profile{
  height:300px;
  max-width:100%;
  border-radius:50%;
  border:5px solid #FF3D44;
  box-shadow:-5px -5px 5px,5px 5px 5px;
}
h1{
  margin-top:20px;
  font-size:5vmax;
  color:white;
  font-family: 'Barriecito', cursive;
  text-shadow:5px 2px 5px red;
}
h2{
  margin-top:0px;
  font-size:3vmax;
  color:red;
  font-family: 'Permanent Marker', cursive;
  text-shadow:2px 2px 2px #fff;
  
  }
#projects{
  width:100%;
  height:100%;
  padding-top:100px;
}
.project-tile{
  width:100%;
  
  
}
.item{
  float:left;
  height:200px;
  background:black;
  color:white;
  border:2px solid red;
 
  margin-top:50px;
  border-radius:10% 10% 0 0;
  padding:5px;
  overflow:hide;
  display:block;
  width:100%;
}
.pfooter{
  background:white;
  width:auto;
  height:30px;
  font-family:"permanent maker",cursive;
  color:black;
}
.thumbnail{
 max-width:100%;
  height:150px;
 
  z-index:-5;
}
.thumbnail:hover{
  opacity:1;
}
.project-tile h1{
  font-size:1.9em;
  margin-top:90px;
  font-family: 'Rubik Mono One', sans-serif;
  text-decoration:underline;
  color:blue;
  text-shadow:2px 2px 2px white;
  
}

#contact{
  
  width:100%
  height:auto;
  border-bottom:5px solid red;
  
  padding:50px;
}
#contact h1{
  font-family: 'Caveat', cursive;
  font-size:3em;
}
#contact h2{
  font-family: 'Indie Flower', cursive;
  
  font-size:1em;
}
.link{
  padding:20px;
  display:block;
  width:100%;
}
a{
  text-decoration:none;
}
a:hover{
  height:50px;
  text-shadow:2px 2px white;
  
}

@media only screen and(max-width:900px){
  .link{
    display:block;
    width:100%;
  }
 
}



